body {
    background-color: rgba(155, 147, 149, 0.603);
    /*Style machine learning section*/
    text-align: center;
    
    
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

h3 {
    text-align: center;
}

iframe {
    
}